{% extends "base.html.twig" %}

{% block title %}
    {{ post.title}}
{% endblock title %}

{% block body %}
<div class="container mx-auto">
    <h1>{{ post.title }}</h1>
    {% include "components/_share.html.twig" %}
</div>

<div class="w-2/3 mx-auto my-8 leading-6">
    {% include "components/_badges.html.twig" with {
        badges: post.categories
    } only %}
</div>
    
{% endblock body %}