{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container mx-auto mt-4">
  <h1 class="text-5xl text-center mt-24 mb-8">SymBlog</h1>
<div class="flex flex-row flex-wrap justify-evenly mt-8">
{% for post in posts %}
{% include "components/_card.html.twig" %}
  
{% endfor %}
</div>
</div>
{% endblock %}
